html, body {
    font-family: "Cuprum","Helvetica",sans-serif;
    margin: 0;
    min-width: 960px;
    padding: 0;
}
.header-top {
    background-color: #293449;
    padding: -1px 0px; 

}
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
.header-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-between;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-direction:row;
	flex-direction:row;
    

}
.header-top .main {
    background-color: #ee3643;
    -webkit-box-shadow: 0 7px 0 0 #b52933;
            box-shadow: 0 7px 0 0 #b52933;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    height: 20px;
    line-height: 24px;
    margin: 0;
    padding: 11px 54px;
    text-decoration: none;
    text-transform: uppercase;
    width: 112px;
}
 #shipping ~ .shipping {
   opacity: 1;
  }

  #security:target ~ .security, #credits:target ~ .credits {
   z-index: 3;
   opacity: 1;
  }
a {
    text-decoration: none;
}
.page-header-search {
  position: relative;
  width: 270px;
}

.page-header-search:hover,
.page-header-link:hover {
  background-color: #212a3a;
}

.page-header-link:active {
  color: rgba(255, 255, 255, .6);
  background-color: #161d29;
}

.page-header-search:hover::before,
.page-header-link:hover::before {
  opacity: 1;
}

.page-header-link:active::before {
  opacity: .5;
}

.page-header-search label {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  font-size: 0;
  background-image: url("https://img.angra.pw/technomart/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -109px -2px;
  opacity: .3;
}

.page-header-search input {
  padding-left: 48px;
  width: 100%;
  height: 42px;
  border: none;
  font: inherit;
  background-color: #293449;
  box-sizing: border-box;
}

.page-header-search input:hover {
  background-color: #212a3a;
}

.page-header-search input:focus {
  background-color: #ffffff;
}

.page-header-search input:hover + label {
  opacity: 1;
}

.page-header-search input:focus + label {
  background-position: -114px -23px;
  opacity: 1;
}

.page-header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.page-header-search input:-ms-input-placeholder {
  color: #ffffff;
}

.page-header-search input::placeholder {
  color: #ffffff;
}

.page-header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.page-header-search input::-moz-placeholder {
  color: #ffffff;
}

.page-header-search input:-ms-input-placeholder {
  color: #ffffff;
}
.top-header--active {
    background-color: red;
	
}
.user-block {
    
    display: -webkit-box; 
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-direction:row;
	flex-direction:row;	
     padding: 0;
     margin: 0;
    
   
    
    width: 470px;
}

.user-block a {
   
    color: #ffffff;   
    font-size: 17px;
    line-height: 18px;
    padding: 13px 0px;
   
  	display: block;
    
}

.user-block a:first-child {
    padding-left: 40px;
    padding-right: 12px;
} 
 .user-block a:nth-child(2) {
     padding-left: 38px;
 }

.top-header--active {
    background:green;
	
}
.top-header__amount {
	font-family: "Cuprum","Helvetica",sans-serif;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	line-height:18px;
   
   
    
    
}

.bookmark  {
  
    
    position: relative; 
    display: block;
     -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 36%;
    height: 42px;
    margin-left: 0px;
	
   
    
   
    
    
    
    
}

.bookmark::before {
    background-image: url("../img/icon-bookmark.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 19px;
    opacity: 0.3;
    position: absolute;
    right: 125px;
    width: 19px;
    z-index: 110;
}
.bookmark:active {
    opacity: 0.3;
}
.bookmark:hover::before {
    opacity: 1;
}
.basket {
  
    position: relative;
    display: inline-block;
   -webkit-box-sizing: border-box;
            box-sizing: border-box;  
    width: 31%;
    height: 42px;
   
    
 
   
   
    
    
}
.basket::before {
    background-image: url("../img/icon-cart.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 19px;
    opacity: 0.3;
    position: absolute;
    right: 112px;
    width: 19px
}
.basket:active {
    opacity: 0.3;
}
.basket:hover::before {
    opacity: 1;
}
.user-block .order {
    background-color: #63a63e;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
    text-align: center;
    vertical-align: middle; 
    margin: 0;
    display: block;
    padding: 12px 0;
	width: 33%;
    height: 42px;
   
  
  
   
  
   
   
}
.header-bottom-page-1 {
    background-color: #f2f6f8;
}
.header-bottom-page-1 .header-bottom-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -1px;
    padding-top: 27px;
}
.header-information {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 39px;
    padding-top: 6px;
    width: 300px;
}
.header-contacts {
    padding-right: 13px;
    padding-top: 20px;
    width: 286px;
}
.header-contacts > div {
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #e9292a;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: -2px;
    padding: 9px 4px 12px 68px;
    width: 265px;
}
.adress {
    padding-left: 1px;
}
.logo {
    margin-bottom: 12px;
}
.phone {
    position: relative;
}
.phone::before {
    background-image: url("../img/icon-phone.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    position: absolute;
    right: 227px;
    top: 12px;
    width: 21px;
}
.header-contacts .adress {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin-top: 2px;
}
.header-bottom-page-1 {
    background-color: #f2f6f8;
}
.header-bottom-page-1 .header-bottom-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -1px;
    padding-top: 27px;
}
.header-information {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 39px;
    padding-top: 6px;
    width: 300px;
}
.header-contacts {
    padding-right: 13px;
    padding-top: 20px;
    width: 286px;
}
.header-contacts > div {
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #e9292a;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: -2px;
    padding: 9px 4px 12px 68px;
    width: 265px;
}
.adress {
    padding-left: 1px;
}
.logo {
    margin-bottom: 12px;
}
.phone {
    position: relative;
}
.phone::before {
    background-image: url("../img/icon-phone.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    position: absolute;
    right: 227px;
    top: 12px;
    width: 21px;
}
.header-contacts .adress {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin-top: 2px;
}
.header-authorization {
   
    display: inline-block;
    padding: 0px 0px 12px 0px;
    padding-left: 10px;
    width: 310px;
	align-self: flex-end;
}
.header-authorization .sign-up {
    background-color: #ffffff;
    margin-right: 10px;
    
    padding: 8px 26px 10px 52px;
}
.header-authorization .log {
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10px 26px;
    width: 166px;
    padding-top:7px;
    
}
.header-authorization a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    margin-right: 10px;
    text-decoration: none;
  
}
.header-authorization a:hover {
    color: #ee3643;
}
.header-authorization a:active {
    color: #cacaca;
}
.header-authorization svg {
    left: 24px;
    position: relative;
    top: 27px;
}
.header-authorization:hover path {
    fill: #4d5b72;
}
.header-authorization:active path {
    fill: #c5c5c5;
}
.main-menu {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: outside none none;
    margin-bottom: 60px;
    margin-top: 26px;
    width: 898px;
}
.main-menu .head {
    margin-left: -11px;
}
.header-bottom-page-2 {
    background-color: #f2f6f8;
}
.header-bottom-page-2 .header-bottom-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
}
.main-menu a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-size: 17px;
    line-height: 17px;
    margin-right: 21px;
    padding: 20px 20px;
    text-align: center;
    vertical-align: middle;
}
.main-menu a:hover {
    background-color: #293449;
    color: #ffffff;
}
.promo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 24px;
}
.promo-left, .promo-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.promo-left {
    width: 620px;
}
.promo-right {
    width: 300px;
}
.promo-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2857;
    padding: 19px 20px 22px;
    width: 300px;
}
.promo-item a {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 1px
    
}
.promo-item a:hover {
    background-color: rgba(204, 204, 204, 0.2);
}
.promo-item a:active {
    background-color: rgba(178, 178, 178, 0.3);
}
.promo-item h2 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 12px;
    margin-top: 0;
}
.promo-item .btn {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    padding: 11px 10px 6px;
    text-align: center;
    vertical-align: middle;
    width: 136px;
}
.stuff a {
    background-color: rgb(221, 60, 40);
}
.promo-item:not(:last-of-type) {
    margin-bottom: 26px;
}
.promo-item.stuff {
    background-color: #f6b22d;
    position: relative;
}
.promo-item.stuff::before {
    background-color: #f6b22d;
    background-image: url("../img/icon-1.svg");
    background-position: 8px 3px;
    background-repeat: no-repeat;
    content: "";
    height: 70px;
    left: 201px;
    position: absolute;
    top: 27px;
    width: 55px;
}


.stuff {
    background-image: url("../img/new-flag.png");
    background-position: 239px 0px;
    background-repeat: no-repeat;
}
.promo-item.tool {
    background-color: #4aafde;
    position: relative;
}
.promo-item.tool::before {
    background-image: url("../img/icon-2.svg");
    background-position: 8px 3px;
    background-repeat: no-repeat;
    content: "";
    height: 70px;
    left: 187px;
    position: absolute;
    top: 30px;
    width: 90px;
}
.promo-item.tech {
    background-color: #dc91d8;
    position: relative;
}
.promo-item.tech *::before {
    background-image: url("../img/icon-3.svg");
    background-position: 8px 3px;
    background-repeat: no-repeat;
    content: "";
    height: 70px;
    left: 182px;
    position: absolute;
    top: 27px;
    width: 90px;
}
.promo-item.discount {
    background-color: #8ed78f;
    position: relative;
}
.promo-item.discount::before {
    background-image: url("../img/icon-4.svg");
    background-position: 8px 3px;
    background-repeat: no-repeat;
    content: "";
    height: 80px;
    left: 189px;
    position: absolute;
    top: 20px;
    width: 90px;
}
.promo-item.shipping {
    background-color: #f6b22d;
    position: relative;
}
.promo-item.shipping::before {
    background-image: url("../img/icon-5.svg");
    background-position: 8px 3px;
    background-repeat: no-repeat;
    content: "";
    height: 80px;
    left: 182px;
    position: absolute;
    top: 26px;
    width: 90px;
}
.promo-slide .btn {
    background-color: #ee3643;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    left: 35px;
    line-height: 18px;
    padding: 9px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.promo-slide .btn:hover {
    background-color: #ca2c37;
}
.promo-slider {
    color: #ffffff;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    width: 620px;
}
.promo-slide {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 266px;
    padding: 22px 25px;
    position: relative;
}
.promo-slide h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 1px;
    margin-top: 1px;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
.promo-slide p {
    margin-top: 2px;
    position: relative;
    z-index: 10;
}
.promo-slide img {
    height: 266px;
    left: 0;
    position: absolute;
    top: 0;
    width: 620px;
    z-index: 5;
}
.promo-slider > input {
    display: none;
}
.promo-slider-btn {
    background-color: transparent;
    border-color: #ffffff #ffffff currentcolor currentcolor;
    border-style: solid solid none none;
    border-width: 3px 3px medium medium;
    cursor: pointer;
    font-size: 0;
    height: 28px;
    outline: medium none;
    position: absolute;
    top: 47%;
    width: 28px;
    z-index: 10;
}
.promo-slider-btn:focus {
    -webkit-box-shadow: 2px -2px 4px 0 rgba(255, 255, 255, 0.5);
            box-shadow: 2px -2px 4px 0 rgba(255, 255, 255, 0.5);
   
}
.promo-slider-btn.prev {
    left: 29px;
    -webkit-transform: translateY(-50%) rotate(225deg);
        -ms-transform: translateY(-50%) rotate(225deg);
            transform: translateY(-50%) rotate(225deg);
}
.promo-slider-btn.next {
    right: 28px;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}
.promo-slider-toggles {
    bottom: 45px;
    font-size: 0;
    height: 10px;
    left: 50%;
    position: relative;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 200px;
    z-index: 10;
}
.promo-slider-toggles label {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    width: 6px;
}
.promo-slide {
    display: none;
}
#promo-toggle-1:checked ~ .promo-slide:nth-of-type(1), #promo-toggle-2:checked ~ .promo-slide:nth-of-type(2) {
    display: block;
}
#promo-toggle-1:checked ~ .promo-slider-toggles label[for="promo-toggle-1"], #promo-toggle-2:checked ~ .promo-slider-toggles label[for="promo-toggle-2"] {
    background-color: red;
}
.promo-slide .btn {
    bottom: 25px;
    left: 25px;
    position: absolute;
    width: 195px;
    z-index: 10;
}
.promo-slide {
}
.index-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f7f3ec none repeat scroll 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 21px;
    padding: 6px 29px;
    text-transform: uppercase;
}
.index-content h2 {
    color: #32425c;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin-left: -4px;
}
.index-content .btn {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 145px
}
.index-content-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f7f3ec none repeat scroll 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
   
    padding: 6px 23px;
    text-transform: uppercase;
}
.index-content-2 h2 {
    color: #32425c;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin-left: -4px;
}
.index-content-2 .btn {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 67px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.catalog-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-weight: bold; 
    max-width: 710px;
	margin: 0 auto;
	
}

.catalog-item2 {
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -40px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    font-family: "PT Sans", "Helvetica", sans-serif;
    
    width: 218px;
    
}
.catalog-items {
    font-size: 0;
}

.catalog-item2 .image {
    height: 168px;
    width: 218px;
}
.catalog-item2 .image img {
    max-width: 100%;
    
}
.catalog-item2 .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 4px;
    min-height: 40px;
    padding: 0 25px;
}
.catalog-item2 .discount {
    color: #999;
    margin-bottom: 10px;
    margin-top: 15px;
    min-height: 20px;
    text-decoration: line-through;
}
.catalog-item2 .price {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    margin: 10px auto 20px;
    padding: 10px 30px;
    position: relative;
    width: 80px;
}
.catalog-item2 .price::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white white white #ee3643;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-style: solid;
    border-width: 20px;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
}
.catalog-item2 .action {
    background-color: rgba(255, 255, 255, 0.9);
    height: 88px;
    left: 0;
    padding: 40px 0;
    position: absolute;
    top: 0;
    width: 218px;
    z-index: 10;
}
.catalog-item2:hover {
    -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.action .buy {
    background-color: #63a63e;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 0 #367315;
            box-shadow: 0 3px 0 0 #367315;
    color: white;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 9px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks {
    background: white none repeat scroll 0 0;
    border: 3px solid #63a63e;
    border-radius: 3px;
    color: #32425c;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 7px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks:hover {
    background: white none repeat scroll 0 0;
    border: 3px solid #32425c;
    border-radius: 3px;
    color: #32425c;
    display: block;
    font-family: "Cuprum","Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 7px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks:active {
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}
.catalog-item2 .buy:hover {
    background-color: #5fbb2d;
    background-image: url("../img/icon-cart.svg");
    background-position: 16px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: white;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.buy::before {
    background-image: url("../img/icon-cart.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 19px;
    left: 59px;
    opacity: 0.3;
    position: absolute;
    top: 48px;
    width: 19px;
}
.catalog-item2 .buy:active {
    background-color: #518534;
    background-image: url("../img/icon-cart.svg");
    background-position: 16px center;
    background-repeat: no-repeat;
    border-left-color: #518534;
    border-right-color: #518534;
    border-top-color: #518534;
}
.catalog-item2 .action {
    display: none;
}
.catalog-item2:hover {
}
.catalog-item2:hover .action {
    display: block;
}

.catalog-company-wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 57px;
}
.catalog-company2 .catalog-item2:last-child {
    margin-right: 0;
}

.catalog-company-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 57px;
}
.catalog-company .catalog-item2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 145px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 22px;
    width: 218px;
    padding-right: 1px;
    margin-top: 0px;
   
}
img[src$="jpg"][alt*="metabo"] {
  padding-bottom: 14px;
  padding-left: 8px;  
}
.catalog-company .catalog-item2:active {
    -webkit-box-shadow: 0 4px 10px 0 #293449;
            box-shadow: 0 4px 10px 0 #293449;
    opacity: 0.3;
}
.catalog-company .catalog-item2:first-child {
    margin-left: 0;
}
.catalog-company .catalog-item2:nth-child(4n) {
    margin-right: 0;
}

.techomart-services {
 padding-top: 40px;
 padding-bottom: 100px;
 background-color: #f2f6f8;
}
 .services__h2 {
    font-size: 30px;
     line-height: 24px;
     padding-top: 5px;
     font-weight: normal;
    text-transform: uppercase;
}
.services__title-block {
 width: 100%;
 padding-bottom: 29px;
 
}

.services__description {
 font-size: 13px;
 line-height: 24px;
 color: #000000;
 font-family: "PT Sans", sans-serif;   
    
}
.services__slider {
 position: relative;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
   
  
}

.services__input {
 display: none;
}
.services__switches {
 position: relative;
 padding-top: 34px;
 margin-bottom: 12px;
 width: 240px;
}

.services__label {
 display: block;
 padding-top: 14px;
 padding-left: 22px;
 padding-bottom: 17px;
 color: #ffffff;
 background-color: #32425c;
 font-size: 21px;
 line-height: 30px;
 cursor: pointer;
 border-bottom: 1px solid #293449;
 border-top: 1px solid #405069;
}
.services__label:last-of-type {
 padding-bottom: 14px;
}
.services__label:hover {
 background-color: #293449;
}
#delivery:checked ~ .services__switches > label[for="delivery"],#warranty:checked ~ .services__switches > label[for="warranty"],#credit:checked ~ .services__switches > label[for="credit"] {
 color: #32425c;
 background-color: #ffffff;
 border: none;
}
.services__wrapper {
 position: relative;
 padding-top: 3px;
 width: 620px;
 padding-right: 0px;
 
}
.services__slide {
 position: relative;
 display: none;
 

}



.services__img_delivery {
 bottom: 15px;
}
.services__img_warranty {
 right: -8px;
 bottom: 10px;
}
.services__img_credit {
 right: -27px;
}
.services__button {
 width: 195px;
 padding-top: 10px;
 padding-bottom: 10px;
}
#delivery:checked ~ .services__wrapper > .services__slide_1,#warranty:checked ~ .services__wrapper > .services__slide_2,#credit:checked ~ .services__wrapper > .services__slide_3 {
 display: block;
 
}

.about-technomart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 94px;
    
    
}
.about-technomart .index-content-title {
    color: #000000;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: -2px;
}
.about-technomart .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.about-technomart .text {
    width: 400px;
}
.about-technomart p {
    font-family: "PT Sans","Helvetica", sans-serif;
    font-size: 13px;
    font-weight: regular;
    line-height: 24px;
    margin-bottom: 23px;
    width: 498px;
}
.suggestions {
    list-style: none;
    padding-left: 33px;
    margin-bottom: 47px;
    
    
}

.suggestions li {
    margin-bottom: 19px;
    
    position: relative;
}
.suggestions li::before {
    background-color: #fb565a;
	content: "";
    height: 2px;
    left: -39px;
    position: absolute;
    top: 9px;
    width: 25px;
    
    
}

.suggestions a {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    padding: 45px 0;
}
.about-technomart .bth {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
.about-technomart .bth:hover {
    background-color: #ca2c37;
}
.map .index-content-title {
    font-size: 30px;
    line-height: 30px;
}
.mapin {
    margin-bottom: 39px;
}
.mapin .bth {
    width: 34px;
}
.map h2 {
}
.map p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 38px;
    width: 180px;
}
.map .btn-2 {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 60px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-top {
    background-color: #32425c;
    margin-bottom: -3px;
    padding: 20px 0;
  
}
.page-footer-top-ineer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-top .main {
    background-color: #ee3643;
    -webkit-box-shadow: 0 7px 0 0 #b52933;
            box-shadow: 0 7px 0 0 #b52933;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
    padding: 16px 45px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: -5px;
}
.footer-top .adress {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
    padding: 0;
    width: 327px;
}
.menu-top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    margin-top: 17px;
    padding-left: 32px;
    
}

.menu-top-footer .company {
	margin-right: 58px;
}

.menu-bottom-footer {
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    padding-left: 54px;
}
.menu-top-footer, .menu-bottom-footer {
    line-height: 24px;
    list-style: outside none none;
}


.menu-top-footer a {
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    margin-right: 50px;
    margin-top: 2px;
    padding-top: 12px;
}
.menu-bottom-footer a {
    color: #ffd180;
    font-size: 18px;
    margin-left: 1px;
    margin-right: 59px;
}

.menu-top-footer .contacts {
	margin-right: 0;
    padding-left: 28px;
    
    
}
.menu-bottom-footer .offer {
	margin-right: 0;
padding-left: -122px    
       
}
.menu-bottom-footer .tool {
    margin-right: 46px
}
.footer-top-part-1 {
    width: 350px;
}
.footer-top-part-2 {
    margin-right: -2px;
    margin-top: 0;
    padding-bottom: 12px;
    width: 583px;
}
.menu-top-footer a:hover, .menu-bottom-footer a:hover {
    text-decoration: underline;
}
.footer-bottom {
    background-color: #293449;
    padding: 31px 0;
}
.page-footer-bottom-ineer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.page-footer-bottom-ineer:nth-child(3) {
     padding-left: px;
 } 
.footer-contacts {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    margin-right: 106px;
    width: 240px;
}
.visually-hidden:not(:focus):not(:active), input.visually-hidden[type="checkbox"], input.visually-hidden[type="radio"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.footer-social {
 
   margin-right: 120px;
 
    width: 170px;
}
.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: outside none none;
    width: 144px;
}
.social-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #212a3a;
    border-radius: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
}
.social-button:hover {
    background-color: #ee3643;
}
.social-button:active {
    background-color: #ee3643;
}
.footer-link { 
    width: 140px;
    padding-left: 4px;
   

}
.footer-link p {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 1px;
    
}
.footer-link a {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
}
.footer-copyright {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: normal;
    padding-left: 52px;  
    width: 140px;
     
    
    
    
}
.footer-copyright p {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 1px;
   
}
.footer-copyright a {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
}
.modal h2 {
    font-size: 18px;
    line-height: 18px;
}
.submit {
    background-color: #f1f1f1;
}
.submit button {
    background-color: #fb565a;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.modal-buy {
    background-image: url("../img/accept.svg");
    background-position: 84px 60px;
    background-repeat: no-repeat;
    border-top: 5px solid #ee3643;
    display: none;
    left: 43%;
    margin-left: -230px;
    margin-top: -9px;
    padding: 58px 80px;
    top: 120px;
    width: 525px;
	background-color: #ffffff;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    color: #000000;
    position: fixed;
    z-index: 100;
}
.modal-buy .order {
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    margin: 65px -80px -98px;
    padding: 40px 20px;
    width: 645px;
}
.modal-buy .issue {
    -ms-flex-item-align: start;
        align-self: flex-start;
    background-color: #ee3643;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-left: 135px;
    margin-right: 20px;
    padding: 11px 45px;
    text-transform: uppercase;
}
.modal-buy .buy-return {
    -ms-flex-item-align: start;
        align-self: flex-start;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 45px;
    text-transform: uppercase;
}


.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-buy h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    padding-left: 150px;
}
.modal-login {
    border-top: 5px solid #ee3643;
    left: 50%;
    margin-left: -230px;
    padding: 20px 80px;
    top: 120px;
    width: 620px;
	display: none;
}
.half-width {
    display: inline-block;
    width: 225px;
}
.modal-login label {
    display: block;
    margin-bottom: 5px;
}
.modal-login textarea {
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 80px;
    padding-left: 17px;
    padding-top: 11px;
    width: 450px;
}
.login-submit input[type="text"], .login-submit input[type="email"] {
    border: 2px solid #d7dcde;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #a9a9a9;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 20px;
    padding: 10px 50px 10px 15px;
    width: 220px;
}
.letter, .name, .email {
    padding-left: 80px;
}
.modal-close {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 0;
    height: 22px;
    position: absolute;
    right: -34px;
    top: 0;
    width: 22px;
}
.modal-close::before, .modal-close::after {
    background-color: #ee3643;
    content: "";
    height: 4px;
    position: absolute;
    right: 50px;
    top: 18px;
    width: 21px;
}
.modal-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.modal-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.modal-login h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 20px;
}
.modal-login .submit {
    background-color: #f1f1f1;
    margin: 35px -80px -98px;
    padding: 30px 20px;
    width: 740px;
}
.submit .btn {
    background-color: #ee3643;
    margin-left: 140px;
    padding: 10px 204px;
}
.modal-map {
    border: 7px solid white;
    display: none;
    height: 561px;
    left: 50%;
    margin-left: -390px;
    margin-top: -280px;
    top: 50%;
    width: 766px;
}
.modal-map p {
    margin: 0;
}
.modal-show {
    -webkit-animation: 45.9s ease 0s normal none 1 running appearance;
            animation: 45.9s ease 0s normal none 1 running appearance;
    display: block;
}
.modal-error {
    -webkit-animation: 45.9s ease 0s normal none 1 running appearance;
            animation: 45.9s ease 0s normal none 1 running appearance;
}
@-webkit-keyframes appearance {
50%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
}
@keyframes appearance {
50%, 100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
}
.modal-error {
    -webkit-animation: 45.9s ease 0s normal none 1 running appearance;
            animation: 45.9s ease 0s normal none 1 running appearance;
}
.header-contacts-2 {

    padding-top: 2px;
    width: 300px;
}
.header-contacts-2 .name {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 5px;
    max-width: 300px;
    padding: 8px 20px 12px 31px;
}

.header-contacts-2 a {
    color: #32425c;
    margin-left: 12px;
    margin-right: 35px;
}
.header-contacts-2 svg:hover path {
    fill: #32425c;
}
.header-contacts-2 .user:active {
    color: #cacaca;
}
.header-contacts-2 .orders, .header-contacts-2 .office {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.orders:hover, .office:hover {
    color: #efa1a7;
    cursor: pointer;
}
.orders:active, .office:active {
    color: #c8cdd3;
}
.header-contacts-2 .orders {
    position: relative;
}
.header-contacts-2 .orders::after {
    background-color: #32425c;
    border-radius: 50%;
    bottom: 5px;
    content: "";
    height: 3px;
    left: 126%;
    position: absolute;
    width: 3px;
}
.puncher-title {
    color: #32425c;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 22px;
}
.puncher-title {
    background-color: #f2f6f8;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    padding: 28px 28px 28px 19px;
    text-transform: uppercase;
    width: 890px;
}
.catalog-navigation {
    font-size: 13px;
    line-height: 18px;
    margin-top: -45px;
    padding-left: 4px;
    text-transform: uppercase;
}
.direction {
    position: relative;
}
.direction::before {
    background-image: url("../img/icon-home.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 13px;
    position: absolute;
    right: 85px;
    top: 1px;
    width: 19px;
}
.direction::after {
    background-color: transparent;
    border-color: #cdd1d8 currentcolor currentcolor #cdd1d8;
    border-style: solid none none solid;
    border-width: 1px medium medium 1px;
    content: "";
    height: 8px;
    left: -29px;
    position: absolute;
    top: 8px;
    -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
    width: 10px;
}
.tools {
    position: relative;
}
.tools::before {
    background-color: transparent;
    border-color: #cdd1d8 currentcolor currentcolor #cdd1d8;
    border-style: solid none none solid;
    border-width: 1px medium medium 1px;
    content: "";
    height: 9px;
    left: -23px;
    position: absolute;
    top: 8px;
    -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
    width: 10px;
}
.puch {
    position: relative;
}
.puch::before {
    background-color: transparent;
    border-color: #cdd1d8 currentcolor currentcolor #cdd1d8;
    border-style: solid none none solid;
    border-width: 1px medium medium 1px;
    content: "";
    height: 8px;
    left: -28px;
    position: absolute;
    top: 8px;
    -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
    width: 10px;
}
.catalog-navigation li {
    display: inline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "PT Sans",sans-serif;
    list-style: outside none none;
    width: 358px;
}
.catalog-navigation a {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    list-style: outside none none;
    margin-right: 34px;
}
.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -24px;
}
.price-filter {
    width: 222px;
}
.catalog {
    width: 710px;
}
.catalog-item-puncher:nth-child(3n) {
    margin-right: 0;
}
.flag {
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    text-indent: -1000px;
    top: -1px;
    width: 60px;
    z-index: 20;
}
.catalog-list {
    margin-bottom: 25px;
}
.flag-new {
    background-image: url("../img/new-flag.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.catalog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    width: 720px;
}
.catalog-item-puncher {
    border: 1px solid #ccc;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-weight: normal;
    margin-bottom: -46px;
    margin-right: 20px;
    text-align: center;
    width: 218px;
}
.catalog-item-puncher .title {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 13px;
    margin-left: -10px;
    margin-top: -8px;
    min-height: 40px;
    padding: 0 22px;
}
.catalog-item-puncher .discount {
    color: #999;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 16px;
    min-height: 20px;
    text-decoration: line-through;
}
.catalog-item-puncher {
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.catalog-items {
    font-size: 0;
}
.catalog-item-puncher {
    font-size: 16px;
}
.catalog-item-puncher .image {
    height: 168px;
    width: 218px;
}
.catalog-item-puncher .image img {
    max-width: 100%;
}
.catalog-item-puncher .title {
    margin-bottom: 15px;
    margin-top: 10px;
    min-height: 40px;
    padding: 0 25px;
}
.catalog-item-puncher .discount {
    color: #999;
    margin-bottom: 10px;
    margin-top: 15px;
    min-height: 20px;
    text-decoration: line-through;
}
.catalog-item-puncher .price {
    background: #ee3643 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    margin: 10px auto 20px;
    padding: 10px 30px;
    position: relative;
    width: 80px;
}
.catalog-item-puncher .price::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white white white #ee3643;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-style: solid;
    border-width: 20px;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
}
.catalog-item-puncher .action {
    background-color: rgba(255, 255, 255, 0.9);
    height: 88px;
    left: 0;
    padding: 40px 0;
    position: absolute;
    top: 0;
    width: 218px;
    z-index: 10;
}
.catalog-item-puncher:hover {
    -webkit-box-shadow: 0 10px 25px 0 #293449;
            box-shadow: 0 10px 25px 0 #293449;
}
.action .buy {
    background-color: #63a63e;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 0 #367315;
            box-shadow: 0 3px 0 0 #367315;
    color: white;
    display: block;
    font-family: "Cuprum",sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks {
    background: white none repeat scroll 0 0;
    border: 3px solid #63a63e;
    border-radius: 3px;
    color: #32425c;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 7px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks:hover {
    background: white none repeat scroll 0 0;
    border: 3px solid #32425c;
    border-radius: 3px;
    color: #32425c;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 7px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.action .bookmarks:active {
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}
.catalog-item-puncher .buy:hover {
    background-color: #5fbb2d;
    background-image: url("../img/icon-cart.svg");
    background-position: 16px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: white;
    display: block;
    font-family: "Cuprum", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 auto 7px;
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 129px;
}
.catalog-item-puncher .buy::before {
    background-image: url("../img/icon-cart.svg");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    content: "";
    height: 19px;
    left: 59px;
    opacity: 0.3;
    position: absolute;
    top: 48px;
    width: 19px;
}
.catalog-item-puncher .buy:active {
    background-color: #518534;
    background-image: url("../img/icon-cart.svg");
    background-position: 16px center;
    background-repeat: no-repeat;
    border-left-color: #518534;
    border-right-color: #518534;
    border-top-color: #518534;
}
.catalog-item-puncher .action {
    display: none;
}
.catalog-item-puncher:hover .action {
    display: block;
}
.sorted {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f7f3ec;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    margin-top: -4px;
    padding: 0 13px;
    text-transform: uppercase;
    width: 670px;
}
.sorted p {
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-right: 122px;
}
.sorted .link-sorting {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "PT Sans", "Helvetica", sans-serif;
    padding-left: 19px;
}
.link-sorting .active {
	color: #ee3643;
}
.link-sorting .price {
}
.link-sorting .types {
}
.link-sorting .function {
}
.link-sorting a {
    color: #b2b2b2;
    font-size: 13px;
    line-height: 18px;
    margin-right: 51px;
    -webkit-text-decoration: underline dotted #ee3643;
            text-decoration: underline dotted #ee3643;
}
.link-sorting a:hover {
    color: #000000;
    -webkit-text-decoration: underline #ee3643;
            text-decoration: underline #ee3643;
}
.arrow {
    left: 12px;
    position: relative;
}
a.arrow {
    display: inline-block;
    font-size: 0;
    margin: 0 10px;
}
.arrow::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c6c2bd transparent;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-style: solid;
    border-width: 10px 5px;
    content: "";
    display: inline-block;
}
 .active-link {
	border-color: red;
}
.arrow-up::before {
    border-top-width: 0;
}
.arrow-down::before {
    border-bottom-width: 0;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 40px;
    padding: 0;
}
.filter {
    
    background-color: #f7f3ec;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -1px;
   
}
.range-filter {
    width: 220px;
}
.range-controls {
    background: #f7f3ec none repeat scroll 0 0;
    border-radius: 5px;
    height: 41px;
    margin: 0 0 23px 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
    position: relative;
    right: 12px;
}
.range-controls .scale {
    background: #d7dcde none repeat scroll 0 0;
    height: 2px;
    position: relative;
    top: -4px;
}
.range-controls .bar {
    background: #00ca74 none repeat scroll 0 0;
    height: 2px;
    position: relative;
    top: 0;
    width: 82%;
}
.range-controls .toggle {
    background: #ababab none repeat scroll 0 0;
    border: 8px solid #fff;
    border-radius: 157%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
    height: 4px;
    left: 43px;
    position: absolute;
    top: 25px;
    width: 5px;
}
.range-controls .toggle-min {
    left: 148px;
}
.range-controls .toggle-max {
    left: 9px;
}
.price-controls {
    font-size: 0;
    left: -15px;
    position: relative;
    top: -9px;
}
hr {
    background-color: #e5e5e5;
    border: medium none;
    color: red;
    height: 1px;
    margin-bottom: 18px;
}
.price-controls label {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 50%;
}
.max-price {
    color: black;
    text-align: right;
}
.price-controls input {
    background: #f1f1f1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #283136;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 17px;
    margin: 0 0 0 10px;
    max-width: 85px;
    padding: 7px 1px;
    position: relative;
    text-align: center;
}
.price-filter {
    margin-bottom: 16px;
    margin-right: 20px;
}
.price-filter > .filter {
    background-color: #f7f3ec;
    font-family: "PT Sans","Helvetica", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-top: -3px;
    padding: 13px 22px 13px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.price-filter .price {
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    margin-left: -9px;
    margin-top: 1px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: -7px;
}
.price-controls {
    font-size: 0;
    left: -14px;
    position: relative;
    top: -16px;
}
.price-controls label {
    display: inline-block;
    text-align: center;
}
.max-price {
    color: black;
    text-align: right;
}
.price-controls input {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 5px;
    color: #283136;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}
.checkbox, .radio {
    display: block;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    color: black;
    cursor: pointer;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 38px;
    position: relative;
    text-transform: uppercase;
    padding-top: 1px;
}
input[type="checkbox"] + label::before {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 29px;
    left: 0px;
    position: absolute;
    width: 28px;
    
    background-position: 6px 1px;
}
input[type="checkbox"] + label:hover::before {
    background-image: url("../img/checkbox-off-hover.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    width: 24px;
}
input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}
input[type="checkbox"]:checked:hover + label::before {
    background-image: url("../img/checkbox-on-hover.svg");
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
}
input[type="checkbox"], input[type="radio"] {
    display: none;
    margin-bottom: 10px;
    margin-top: 42px;
    padding-left: 33px;
    vertical-align: bottom;
}
input[type="checkbox"] + label::before {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 27px;
    left: -3px;
    padding-left: 11px;
    position: absolute;
    top: -1px;
    width: 27px;
}
input[type="checkbox"] + label:hover::before {
    background-image: url("../img/checkbox-off-hover.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 24px;
    left: 2px;
    position: absolute;
    width: 24px;
}
input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}
input[type="checkbox"]:checked:hover + label::before {
    background-image: url("../img/checkbox-on-hover.svg");
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
}
input[type="radio"] + label::before {
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 29px;
    left: 0;
    position: absolute;
    width: 28px;
}
input[type="radio"] + label:hover::before {
    background-image: url("../img/radio-off-hover.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    width: 24px;
}
input[type="radio"]:checked + label::before {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}
input[type="radio"]:checked:hover + label::before {
    background-image: url("../img/radio-on-hover.svg");
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
}
input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label {
    color: #b4b4b4;
}
input[type="radio"]:disabled + label::before, input[type="checkbox"]:disabled + label::before {
    height: 27px;
    opacity: 0.3;
    width: 27px;
}
form .maker {
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 14px;
    margin-left: -3px;
    margin-top: 12px;
    text-transform: uppercase;
}
form .food {
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-top: 14px;
    text-transform: uppercase;
}
input[type="submit"] {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-top: 60px;
    padding: 9px 40px;
}
.about-puch {
    background: #f2f6f9 none repeat scroll 0 0;
    color: #000000;
    padding: 25px 0;
   
}
.about-puch h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}
.about-puch p {
    font-family: "Pt-sans", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 24px;
    max-width: 927px;
}
.paginator {
    margin-bottom: 94px;
    margin-top: 22px;
    text-transform: uppercase;
}
.paginator a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000000;
    font-family: "PT Sans", "Helvetica",sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px;
}
.paginator a:hover {
    border: 1px solid #bdc6ca;
}
.paginator a:active {
    border: 1px solid #ee3643;
}
.paginator .active {
    background-color: #ee3643;
    border: 1px solid #ee3643;
    color: #ffffff;
}